.profile__edit-button {
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 1px solid white;
  background: url('../../../../assets/images/edit-ico.svg') center no-repeat;
  align-self: center;
  transition: opacity .2s;
}

@media (max-width: 767px) {
  .profile__edit-button {
    position: absolute;
    right: -28px;
    top: 7px;
  }
}

@media (max-width: 425px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__edit-button:active {
  opacity: 0.4;
}