.popup__container {
  position: relative;
  background-color: white;
  padding: 36px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 360px;
  min-height: 258px;
}

@media (max-width: 425px) {
  .popup__container {
    min-height: 267px;
    padding: 28px 22px;
  }
}