.profile {
  display: grid;
  padding: 40px 0 50px;
  grid-template-columns: 120px minmax(0, 1fr) 150px;
  gap: 30px;
}

@media (max-width: 767px) {
  .profile {
    grid-template-columns: minmax(0, 1fr);
    gap: 0px;
    justify-items: center;
  }
}

@media (max-width: 425px) {
  .profile {
    padding: 42px 0 36px;
  }
}