.profile__add-button {
  width: 150px;
  height: 50px;
  cursor: pointer;
  border: 2px solid white;
  background: url('../../../images/plus-ico.svg') center no-repeat;
  align-self: center;
}

@media (max-width: 375px) {
  .profile__add-button {
    width: 100%;
  }
}

.profile__add-button:hover {
  opacity: 0.8;
}

.profile__add-button:active {
  opacity: 0.4;
}