/* Тесты не пропускают свойство "aspect-ratio: 1 / 1", а я хочу чтобы картинка сохраняла пропорции один к одному
 вне зависимоти от размера. Фиксировать карточку по высоте получается не красиво на переходных разрешениях */

.card__image-box {
  position: relative;
}

.card__image-box::after {
  display: block;
  content: '';
  padding-bottom: 100%;
}