.card__description {
  min-height: 20px;
  box-sizing: border-box;
  background-color: white;
  padding: 27px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}