.popup__close-button {
  position: absolute;
  width: 32px;
  height: 32px;
  border: none;
  background: url(../../../images/close-ice.svg) center / cover no-repeat;
  top: -38px;
  right: -40px;
  cursor: pointer;
  transition: opacity .2s;
}

@media (max-width: 767px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: -34px;
    right: 0px;
  }
}

.popup__close-button:hover {
  opacity: 0.6;
}

.popup__close-button:active {
  opacity: 0.4;
}