.profile__add-button {
  width: 150px;
  height: 50px;
  cursor: pointer;
  border: 2px solid white;
  background: url('../../../../assets/images/plus-ico.svg') center no-repeat;
  align-self: center;
  border-radius: 2px;
  transition: opacity .2s;
}

@media (max-width: 375px) {
  .profile__add-button {
    width: 100%;
    background-size: 16px 16px;
  }
}

.profile__add-button:hover {
  opacity: 0.6;
}

.profile__add-button:active {
  opacity: 0.4;
}