.profile__info {
  display: grid;
  grid-template-columns: minmax(0, max-content) 1fr;
  gap: 16px;
  align-self: center;
}

@media (max-width: 767px) {
  .profile__info {
    justify-items: center;
  }
}