.card__like-button {
  width: 22px;
  height: 19px;
  border: none;
  background: url('../../../images/like-ico.svg') center no-repeat;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.5;
}

.card__like-button:active {
  opacity: 1;
  background: url('../../../images/like-active-ico.svg') center no-repeat;
}